default:
    extensions:
        Behat\MinkExtension:
            base_url: http://localhost:8000
            sessions:
                default:
                    goutte: ~
                browserkit_driver:
                    selenium2: ~
            default_session: browserkit_driver
            javascript_session: javascript_driver
            browser_name: firefox